*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.lo
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/.config
/.version
/config.asm
/config.h
/coverage.info
/avversion.h
/lcov/
/src
/mapfile
/config.log
*/.deps/*
conftest.c
conftest.err
confdefs.h
config.status
libtool
Makefile
libmp3lame.so*
config.status
config.log
config.cache
config.h
stamp-h1
stamp-h
mp3x
lame
lame.spec
*.d
Debug
DebugGTK
Release
ReleaseGTK
WinGTK
*.ncb
*.plg
*.opt
*.dll
*.pch
*.new.mp3
*.wav.mp3
obj
output
